:root {
    --background: #27292c;
    --defaultTextColor: white;
    --boxColor: hsl(from var(--background) h s 75);
    --boxText: black;
    --boxSelected: rgb(20, 255, 70);
    
    --resetBtn: rgb(100,255,100);
    --focused: orange;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 2rem
}

ul { list-style: none; margin: 0; padding: 0;}

header {
    position: sticky;
    top: 0;
    padding: .5rem 1rem;
    margin-block-end: 2rem;
    background: var(--background);
}

nav ul {
    display: flex;
    justify-content: center;
    column-gap: .25rem;
}

nav a {
    padding: .25rem .75rem;
    text-decoration: none;
    color: inherit;
    text-underline-offset: .25em;
}

nav a.active {
    text-decoration: underline;
}

h1 {
    margin: 0 0 1em;
}

.grid {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    margin-inline: auto;
    max-width: 50rem;
    border: .125rem solid white;
    position: relative;
}

.win-wrapper {
    position: absolute;
    z-index: 2;
    background: hsl(from var(--background) h s 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win-wrapper h2 {
    margin: 0 0 1em;
}

.win-wrapper p {
    margin: unset;
}

.square {
    aspect-ratio: 1;
    border: .125rem solid white;
    display: flex;
    justify-content: center;
    color: var(--boxText);
    align-items: center;
    background-color: var(--boxColor);
    position: relative;
    font-size: clamp(.5rem, calc(.05rem + 1.5vw), 1.35rem);
    padding: .125em;
    font-weight: 600;
    outline-color: var(--focused);
}

.square:focus-within {
    border-color: var(--focused);
}

.square.selected {
    background-color: var(--boxSelected);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.clickable {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.reset-btn,
button[type="submit"] {
    margin: 1.5em auto 0;
    width: fit-content;
    font-size: 1.25rem;
    background: var(--resetBtn);
    border: none;
    padding: .75em 1.5em;
    border-radius: .25rem;
}

form.new-terms-form {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background: var(--boxColor);
    color: var(--boxText);
    margin-inline: auto;
    border-radius: .25rem;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;
    font-family: inherit;
    gap: .5rem;
}

form input {
    display: block;
    font-family: inherit;
    width: 100%;
    padding: .25rem;
}

button[type="submit"] {
    margin-block-start: 1.5rem;
}

.list-wrap {
    max-width: 400px;
    margin: 2rem auto 0;
}

/* .list-wrap summary {
    
} */

summary h2 {
    margin: unset;
}

.list-wrap ul {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(min-content, max-content));
    gap: .25rem;
}

.list-wrap li {
    padding: .25rem;
}